<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>119788054004-v3gh5tkc05b40n536af0civp73f2tvil.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.119788054004-v3gh5tkc05b40n536af0civp73f2tvil</string>
	<key>API_KEY</key>
	<string>AIzaSyB219d1yeG6DJgPX-fMsUWBC8XTAx3wrHg</string>
	<key>GCM_SENDER_ID</key>
	<string>119788054004</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tistory.iospanda.ReactorKitStarter</string>
	<key>PROJECT_ID</key>
	<string>midnightletter</string>
	<key>STORAGE_BUCKET</key>
	<string>midnightletter.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:119788054004:ios:977a96f075a5ae4a0b05a1</string>
	<key>DATABASE_URL</key>
	<string>https://midnightletter.firebaseio.com</string>
</dict>
</plist>